<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Static/index.css">
    <title>Document</title>
</head>
<body>
    <form action="POST" class="form-control">
        <input type="text" name="name" id="name">
        <input type="text" name="email" id="email">
        <input type="text" name="phone" id="phone">
        <input type="text" name="message" id="message">
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>